.hero {
    background-color: lightgray;
    background-image: url("../assets/hero.jpeg");
    object-fit: cover;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.hero-content {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: absolute;
    background-color: rgba(40, 40, 40, 0.6);
}

.hero__title {
    padding-top: 60vh;
    color: white;
}

.hero-content button {
    min-width: 150px;
    min-height: 40px;
}