.member {
    margin: 0 auto;
    max-width: 150px;
}

.member img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
}


@media(min-width:768px) {
    .member {
        margin: 30px;
    }

    .member img{
        transition: all .2s ease-in-out;
        filter: grayscale();
    }
    
    .member img:hover {
        transform: scale(1.2);
        animation:  .5s ease;
        filter: none;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
    }
}