.team {
    margin: 0 auto;
    text-align: center;
    max-width: 80%;
}

.team p {
    font-size: 1.8rem;
}

.team__members {
    text-align: center;
    max-width: 840px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}